<div class="row-fluid">
  <div class="well span8 offset2">
    <legend>Edit Profile</legend>
    <fieldset>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="row-fluid">
          <div class="span6">
            <%= f.label :username %>
            <%= f.text_field :username, :autofocus => true %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <i><small><em>Leave blank if keeping same password.</em></small></i>
            <%= f.password_field :password, :autocomplete => "off" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>

            <%= f.label :current_password %>
            <i><strong><small><em>Required to make changes</em></small></strong></i>
            <%= f.password_field :current_password %>
          </div>

          <div class="span6">
            <%= render :partial => "devise/shared/fields", :locals => {:f => f} %>
          </div>
        </div>
        <br>
        <p>
          <%= f.submit "Update", :class => 'btn btn-primary' %>
          <%= link_to "Cancel", apps_path, :class => 'btn' %>
        </p>

      <% end %>

      <!--
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
      -->

    </fieldset>
  </div>
</div>
