<div class="row">
  <div class="well span4 offset4 centered">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <fieldset>
        <legend>Sign Up</legend>
        <%= devise_error_messages! %>

        <%= f.label :username %>
        <%= f.text_field :username, :autofocus => true %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= render :partial => "devise/shared/fields", :locals => {:f => f} %>

        <%= f.hidden_field :registered, :value => true %>

        <p>
          <%= f.submit "Sign up", :class => 'btn btn-primary' %>
        </p>

      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>


