<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :company %>
<%= f.text_field :company %>

<!-- <div class="clearfix"><% role = Role.find_by_name("Prospective Developer") %>
    <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      Register as Developer</div>
      -->
