<% if @reward.errors.any? %>
    <div class="alert-message error" data-alert><a class="close" href="#">×</a>
      <p>Whoops! Check your form for possible errors</p>
      <p>
        <% @reward.errors.full_messages.each do |msg| %>
            <%= msg %><br>
        <% end %>
      </p>
    </div>

<% end %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_field :description%>

<%= f.label :cost %>
<%= f.text_field :cost %>

<%= f.label :quantity %>
<%= f.text_field :quantity %>

  <%= f.label :image, "Image (please upload a 96 x 96 icon)" %>
  <%= image_tag @reward.image_url.to_s %><br>
  <%= f.file_field :image %><br>
  <%= f.label :remote_image_url, "or image URL" %>
  <%= f.text_field :remote_image_url %>

<% if current_user.role? :admin %>
  <%= f.label :featured_value %>
  <%= f.text_field :featured_value %>
<% end %>

<div>
  <%= f.submit "Save", :class => 'btn btn-primary' %> or
  <%= link_to "Cancel", admin_rewards_path %>
</div>
