<header class="page-header">
  <h1>Achievements</h1>
</header>
<div class="row-fluid">
  <h4>Pending</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th><b>App</b></th>
      <th><b>Achievement</b></th>
      <th><b>Created at</b></th>
      <th><b>Actions</b></th>
    </tr>
    </thead>
    <tbody>
    <% @pending_achievements.each do |achievement| -%>
        <tr>
          <td><%= achievement.id %></td>
          <td><%= link_to achievement.app.name, app_path(achievement.app) %></td>
          <td><%= achievement.name %></td>
          <td><%= achievement.created_at %></td>
          <td>
            <%= link_to "Process", edit_admin_achievement_path(achievement) %>
            REJECT
          </td>
        </tr>
    <% end -%>
    </tbody>
  </table>
</div>

<div class="row-fluid">
  <h4>Accepted</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th><b>App</b></th>
      <th><b>Achievement</b></th>
      <th><b>Created at</b></th>
      <th><b>Actions</b></th>
    </tr>
    </thead>
    <tbody>
    <% @accepted_achievements.each do |achievement| -%>
        <tr>
          <td><%= achievement.id %></td>
          <td><%= link_to achievement.app.name, app_path(achievement.app) %></td>
          <td><%= achievement.name %></td>
          <td><%= achievement.created_at %></td>
          <td>
            <%= link_to "Process", edit_admin_achievement_path(achievement) %>
            REJECT
          </td>
        </tr>
    <% end -%>
    </tbody>
  </table>
</div>
