<% if application.errors.any? %>
  <div class="alert-message error" data-alert><a class="close" href="#">×</a><p>Whoops! Check your form for possible errors</p></div>
<% end %>

<%= f.label :name %>
<div class="input">
  <%= f.text_field :name %>
  <%= errors_for application, :name %>
</div>

<%= f.label :redirect_uri %>
  <%= f.text_field :redirect_uri %>
  <%= errors_for application, :redirect_uri %>
  <% if Doorkeeper.configuration.test_redirect_uri %>
    <span class="help-block">Use <%= Doorkeeper.configuration.test_redirect_uri %> for local tests</span>
  <% end %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :image %>
<%= f.text_field :image %>

<p>
  <%= f.submit :Submit, :class => "btn btn-primary" %>
  <%= link_to "Cancel", apps_path, :class => "btn" %>
</p>
