<% if application.errors.any? %>
  <div class="alert-message error" data-alert><a class="close" href="#">×</a><p>Whoops! Check your form for possible errors</p></div>
<% end %>

<%= f.label :name %>
<div class="input">
  <%= f.text_field :name %>
  <%= errors_for application, :name %>
</div>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :image %>
<%= f.text_field :image %>
NEED TO ADD IMAGE UPLOADER FOR ICON

<p>
  <%= f.submit :Submit, :class => "btn btn-primary" %>
  <%= link_to "Cancel", apps_path, :class => "btn" %>
</p>
