<header class="page-header">
  <h1><%= @application.name %> API Keys</h1>
</header>

  <% if current_user.role? :admin %>
    <h4>Callback url:</h4>
    <p><code id="callback_url"><%= @application.redirect_uri %></code></p>
  <% end %>

  <h4>Application Id:</h4>
  <code id="application_id"><%= @application.uid %></code>

  <h4>Secret: </h4>
  <code id="secret"><%= @application.secret %></code>


  <% if current_user.role? :admin %>
    <h4>Link to authorization code:</h4>
    <p><%= link_to 'Authorize', oauth_authorization_path(:client_id => @application.uid, :redirect_uri => @application.redirect_uri, :response_type => 'code' ) %></p>

    <h3>Actions</h3>
    <p><%= link_to 'Edit', edit_app_path(@application) %></p>
    <p><%= link_to 'Remove', oauth_application_path(@application), :method => :delete, :data => { :confirm => "Are you sure?" } %></p>
  <% end %>

  <p><%= link_to 'Back to application', app_path(@application), :class => 'btn' %></p>
