<%= form_for(@app_session_history) do |f| %>
  <% if @app_session_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_session_history.errors.count, "error") %> prohibited this app_session_history from being saved:</h2>

      <ul>
      <% @app_session_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sdkVersion %><br />
    <%= f.text_field :sdkVersion %>
  </div>
  <div class="field">
    <%= f.label :eventTimeStamp %><br />
    <%= f.datetime_select :eventTimeStamp %>
  </div>
  <div class="field">
    <%= f.label :SessionDuration %><br />
    <%= f.number_field :SessionDuration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
