<h1>Listing device_metrics_histories</h1>

<table>
  <tr>
    <th>Os</th>
    <th>Os version</th>
    <th>Device type</th>
    <th>Resolution</th>
    <th>Carrier</th>
    <th>Appversion</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @device_metrics_histories.each do |device_metrics_history| %>
  <tr>
    <td><%= device_metrics_history.OS %></td>
    <td><%= device_metrics_history.OS_version %></td>
    <td><%= device_metrics_history.Device_Type %></td>
    <td><%= device_metrics_history.Resolution %></td>
    <td><%= device_metrics_history.Carrier %></td>
    <td><%= device_metrics_history.AppVersion %></td>
    <td><%= device_metrics_history.Location %></td>
    <td><%= link_to 'Show', device_metrics_history %></td>
    <td><%= link_to 'Edit', edit_device_metrics_history_path(device_metrics_history) %></td>
    <td><%= link_to 'Destroy', device_metrics_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device metrics history', new_device_metrics_history_path %>
