<p id="notice"><%= notice %></p>

<p>
  <b>Os:</b>
  <%= @device_metrics_history.OS %>
</p>

<p>
  <b>Os version:</b>
  <%= @device_metrics_history.OS_version %>
</p>

<p>
  <b>Device type:</b>
  <%= @device_metrics_history.Device_Type %>
</p>

<p>
  <b>Resolution:</b>
  <%= @device_metrics_history.Resolution %>
</p>

<p>
  <b>Carrier:</b>
  <%= @device_metrics_history.Carrier %>
</p>

<p>
  <b>Appversion:</b>
  <%= @device_metrics_history.AppVersion %>
</p>

<p>
  <b>Location:</b>
  <%= @device_metrics_history.Location %>
</p>


<%= link_to 'Edit', edit_device_metrics_history_path(@device_metrics_history) %> |
<%= link_to 'Back', device_metrics_histories_path %>
