<% if @applications.count == 0 %>
  <%= render 'apps/getting_started' %>
<% else %>
  <header class="page-header">
    <h1>Overview</h1>
  </header>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

  <!-- KPI -->
  <section>
    <h4>Daily Statistics</h4>
    <!-- KPI #1 -->
    <div class="row-fluid">
      <div class="span4 well">
        <i class="icon-download-alt icon-4x pull-left"></i>
        <div>
          <h4 class="media-heading">Downloads</h4>
          <p class="lead">1,242,830</p>
        </div>
      </div>
      <!-- /KPI #1 -->
      <!-- KPI #2 -->
      <div class="span4 well">
        <div>
          <i class="icon-group icon-4x pull-left"></i>
          <h4 class="media-heading">Daily Active Users</h4>
          <p class="lead"><%= number_with_delimiter(@dau, :delimiter => ',')  %></p>
          <!-- DAU Delta
          <h3 class="text-<%= @dau_delta < 0 ?  'error' : 'success' %>"><%= @formatted_dau_delta %></h3>
          -->
        </div>
      </div>
      <!-- /KPI #2 -->
      <!-- KPI #3 -->
      <div class="span4 well">
        <i class="icon-money icon-4x pull-left"></i>
        <div>
          <h4 class="media-heading">Budget Remaining</h4>
          <p class="lead">$3,200</p>
        </div>
      </div>
      <!-- /KPI #3 -->
    </div>
  </section>
  <!-- /KPI -->

  <!-- Graphs -->
  <section class="row-fluid">
    <h4>Graphs</h4>
    <div>
      <img src="http://placehold.it/1200x300" alt="">
    </div>
  </section>
  <!-- /Graphs -->

  <!-- Applications -->
  <section>
    <h4>Applications</h4>
    <div class="row-fluid">
      <p>
        <%= link_to 'Register New Application', new_oauth_application_path, :class => "btn btn-primary" %>
        <% if current_user.role? :admin %>
          <%= link_to 'Manage OAuth Attributes', oauth_applications_path, :class => "btn btn-primary" %>
        <% end %>
      </p>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Total Users</th>
          <th>DAU</th>
          <th>Avg. Sessions / day</th>
          <th>Avg. Session Length</th>
          <th>Analytics</th>
          <th>App Key</th>
        </tr>
        </thead>
        <tbody>
          <% @applications.each do |application| %>
              <tr id="application_<%= application.id %>">
                <td><%= application.name %></td>
                <td><%= application.accounts.count %></td>
                <td><%= application.getDailyActiveUsers(Date.today) %></td>
                <td><%= application.getAverageSessionsPerDay %></td>
                <td><%= Time.at(application.getAverageSessionLength).gmtime.strftime('%R:%S') %></td>
                <td><%= link_to 'View Statistics', app_path(application) %></td>
                <td><%= link_to 'View Key', oauth_application_path(application) %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
<!-- /Applications -->
<% end %>
