<header class="page-header">
  <h1>
    <%= @application.name.capitalize %>
    <small class="pull-right">
      <%= link_to 'App Key', oauth_application_path(@application), :class => "btn btn-info" %>
      <%= link_to 'Edit', edit_oauth_application_path(@application), :class => "btn btn-info" %>
      <% if current_user.role? :admin %>
          <%= link_to 'View OAuth Attributes', oauth_application_path(@application), :class => "btn btn-info" %>
      <% end %>
      <%= link_to 'Delete', oauth_application_path(@application), :class => "btn btn-info", :data => {:confirm => 'Are you sure?'}, :method => :delete %>
    </small>
  </h1>
</header>

<!-- KPI -->
<section>
  <h4>Daily Statistics</h4>

  <div class="row-fluid">
    <!-- KPI #1 -->
    <div class="well span4">
      <div>
        <i class="icon-download-alt icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Downloads</h4>

          <p class="lead">1,242,830 fake</p>
        </div>
      </div>
    </div>
    <!-- /KPI #1 -->
    <!-- KPI #2 -->
    <div class="well span4">
      <div>
        <i class="icon-group icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Daily Active Users</h4>

          <p class="lead"><%= number_with_delimiter(@dau, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #2 -->
    <!-- KPI #3 -->
    <div class="well span4">
      <div>
        <i class="icon-money icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">MAU</h4>

          <p class="lead">$3,200 fake</p>
        </div>
      </div>
      <!-- /KPI #3 -->
    </div>
  </div>
</section>
<!-- /KPI -->

<!-- Graphs -->
<div class="row-fluid">

</div>
<!-- /Graphs -->
<!-- Session Analytics -->
<div class="row-fluid">
  <h4>Application Statistics</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Total Users</th>
      <th>Avg. Sessions per day</th>
      <th>Avg. Sessions per month</th>
      <th>Avg. Session time</th>
      <th>Total playtime</th>
      <th>Total Achievements</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @application.accounts.length %></td>
      <td><%= @application.getAverageSessionsPerDay %></td>
      <td><%= @application.getAverageSessionsPerDay %></td>
      <td><%= Time.at(@application.getAverageSessionLength).gmtime.strftime('%R:%S') %></td>
      <td><%= Time.at(@application.getTotalUsageTime).gmtime.strftime('%R:%S') %></td>
      <td>3/20 fake</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Session Analytics -->

<!-- Session Analytics -->
<div class="row-fluid">
  <h4>Average User Statistics</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sessions per day</th>
      <th>Sessions per month</th>
      <th>Session time</th>
      <th>Total playtime</th>
      <th>Achievements</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <% if @application.accounts.length == 0 %>
          <td colspan=5>No Downloads Yet</td>
        <% else %>
          <td><%= @application.getAverageSessionsPerDay / @application.accounts.length %></td>
          <td><%= @application.getAverageSessionsPerDay / @application.accounts.length %></td>
          <td><%= Time.at(@application.getAverageSessionLength / @application.accounts.length).gmtime.strftime('%R:%S') %></td>
          <td><%= Time.at(@application.getTotalUsageTime / @application.accounts.length).gmtime.strftime('%R:%S') %></td>
          <td>3/20 fake</td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<!-- /Session Analytics -->

<div class="row-fluid">
  <h4>Achievements</h4>

  <p><%= link_to 'New Achievement', new_app_achievement_path(@application), :class => "btn btn-primary" %></p>

  <div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Avg. time to complete</th>
        <th>Percent of Users</th>
        <th>Times achieved</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @application.achievements.each do |achievement| %>
          <tr>
            <td><%= link_to achievement.name, app_achievement_path(@application, achievement) %></td>
            <td><%= achievement.description %></td>
            <td><%= achievement.cost %></td>
            <td></td>
            <td></td>
            <td><%= achievement.achievement_history.count %></td>
            <td><%= link_to 'Edit', edit_app_achievement_path(@application, achievement) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Back to Overview", apps_path %>


