<header class="page-header">
  <h1>
    <%= @application.name.capitalize %>
    <small class="pull-right">
      <%= link_to 'App Key', oauth_application_path(@application), :class => "btn btn-info" %>
      <%= link_to 'Edit', edit_oauth_application_path(@application), :class => "btn btn-info" %>
      <% if current_user.role? :admin %>
          <%= link_to 'View OAuth Attributes', oauth_application_path(@application), :class => "btn btn-info" %>
          <% if @application.accepted == false %>
              <%= link_to 'Accept Application', apps_accept_path(@application), :class => "btn btn-info" %>
          <% end %>
          <% if @application.disabled == true %>
              <%= link_to 'Restore', apps_restore_path(@application), :class => "btn btn-info" %>
          <% end %>
      <% end %>
      <% if @application.disabled == false %>
        <% if @application.submitted == false %>
          <%= link_to 'Submit For Review', apps_submit_path(@application), :class => "btn btn-info" %>
        <% end %>
        <%= link_to 'Delete', apps_disable_path(@application), :class => "btn btn-info", :data => {:confirm => 'Are you sure?'} %>
      <% end %>
    </small>
  </h1>
</header>

<!-- KPI -->
<section>
  <h4>Daily Statistics</h4>

  <div class="row-fluid">
    <!-- KPI #1 -->
    <div class="well span4">
      <div>
        <i class="icon-download-alt icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Downloads</h4>

          <p class="lead"><%= number_with_delimiter(@downloads_count, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #1 -->
    <!-- KPI #2 -->
    <div class="well span4">
      <div>
        <i class="icon-group icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Daily Active Users</h4>

          <p class="lead"><%= number_with_delimiter(@dau, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #2 -->
    <!-- KPI #3 -->
    <div class="well span4">
      <div>
        <i class="icon-calendar icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Monthly Active Users</h4>

          <p class="lead"><%= number_with_delimiter(@mau, :delimiter => ',') %></p>
        </div>
      </div>
      <!-- /KPI #3 -->
    </div>
  </div>
</section>
<!-- /KPI -->

<!-- Graphs -->
<div class="row-fluid">

</div>
<!-- /Graphs -->
<!-- Session Analytics -->
<div class="row-fluid">
  <h4>Application Statistics</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Total Users</th>
      <th>Avg. Sessions per day</th>
      <th>Avg. Sessions per month</th>
      <th>Avg. Session time</th>
      <th>Total playtime</th>
      <th>Avg. Achievements</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if @downloads_count == 0 %>
        <td colspan=6>No Downloads Yet</td>
      <% else %>
      <td><%= @downloads_count %></td>
      <td><%= @application.getAverageSessionsPerDay %></td>
      <td><%= @application.getAverageSessionsPerMonth %></td>
      <td><%= Time.at(@application.getAverageSessionLength).gmtime.strftime('%R:%S') %></td>
      <td><%= Time.at(@application.getTotalUsageTime).gmtime.strftime('%R:%S') %></td>
      <td><%= @application.getAverageAchievements %>/<%= @application.achievements.length %></td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Session Analytics -->

<!-- Achievement Analytics -->
<div class="row-fluid">
  <h4>Achievements</h4>

  <p><%= link_to 'New Achievement', new_app_achievement_path(@application), :class => "btn btn-primary" %></p>

  <div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Cost (USD)</th>
        <th>Avg. time to complete</th>
        <th>Percent of Users</th>
        <th>Times achieved</th>
        <th>Achievement UID</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @application.achievements.where(:soft_deleted => false).each do |achievement| %>
          <tr>
            <td><%= achievement.name %></td>
            <td><%= achievement.cost %></td>
            <td><%= Time.at(@application.getAverageDurationForAchievement(achievement)).gmtime.strftime('%R:%S') %></td>
            <td>
              <% if @downloads_count > 0 %>
                <%= 100.0 * achievement.achievement_history.count / @downloads_count %>
              <% else %>
                0
              <% end%>
              %
            </td>
            <td><%= achievement.achievement_history.count %></td>
            <td><%= achievement.uid %></td>
            <td><%= link_to 'Edit', edit_app_achievement_path(@application, achievement) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <% if current_user.role? :admin %>
        <h5>Deleted Achievements</h5>
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Cost (USD)</th>
            <th>Avg. time to complete</th>
            <th>Percent of Users</th>
            <th>Times achieved</th>
            <th>Achievement UID</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @application.achievements.where(:soft_deleted => true).each do |achievement| %>
              <tr>
                <td><%= achievement.name %></td>
                <td><%= achievement.cost %></td>
                <td><%= @application.getAverageDurationForAchievement(achievement) %></td>
                <td>
                  <% if @downloads_count > 0 %>
                      <%= 100.0 * achievement.achievement_history.count / @downloads_count %>
                  <% else %>
                      0
                  <% end%>
                  %
                </td>
                <td><%= achievement.achievement_history.count %></td>
                <td><%= achievement.uid %></td>
                <td><%= link_to 'Edit', edit_app_achievement_path(@application, achievement) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
<!-- /Achievement Analytics -->


<%= link_to "Back to Overview", apps_path %>


