<%= render 'apps_header' %>

<!-- KPI -->
<section>
  <div class="row-fluid">
    <!-- KPI #1 -->
    <div class="well span4">
      <div>
        <i class="icon-download-alt icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Downloads</h4>

          <p class="lead"><%= number_with_delimiter(@downloads_count, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #1 -->
    <!-- KPI #2 -->
    <div class="well span4">
      <div>
        <i class="icon-group icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">DAU</h4>

          <p class="lead"><%= number_with_delimiter(@dau, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #2 -->
    <!-- KPI #3 -->
    <div class="well span4">
      <div>
        <i class="icon-calendar icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">MAU</h4>

          <p class="lead"><%= number_with_delimiter(@mau, :delimiter => ',') %></p>
        </div>
      </div>
      <!-- /KPI #3 -->
    </div>
  </div>
</section>
<!-- /KPI -->

<!-- Graphs -->
<div class="row-fluid">
  <!--
  GRAPHS GO HERE
  For now graph DAU and MAU. Future should be toggleable for different KPIs.
  -->
</div>
<!-- /Graphs -->

<!-- Session Analytics -->
<div class="row-fluid">
  <h4>Sessions Statistics</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Per Day</th>
      <th>Per Month</th>
      <th>Duration</th>
      <th>Total Playtime</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if @downloads_count == 0 %>
        <td colspan=6>No Downloads Yet</td>
      <% else %>
      <td><%= @application.getAverageSessionsPerDay %></td>
      <td><%= @application.getAverageSessionsPerMonth %></td>
      <td><%= Time.at(@application.getAverageSessionLength).gmtime.strftime('%R:%S') %></td>
      <td><%= Time.at(@application.getTotalUsageTime).gmtime.strftime('%R:%S') %></td>

      <% end %>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Session Analytics -->


