<%= render 'apps_header' %>

<!-- KPI -->
<section>
  <div class="row-fluid">
    <!-- KPI #1 -->
    <div class="well span4">
      <div>
        <i class="icon-download-alt icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Downloads</h4>

          <p class="lead"><%= number_with_delimiter(@downloads_count, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #1 -->
    <!-- KPI #2 -->
    <div class="well span4">
      <div>
        <i class="icon-group icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">DAU</h4>

          <p class="lead"><%= number_with_delimiter(@dau, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #2 -->
    <!-- KPI #3 -->
    <div class="well span4">
      <div>
        <i class="icon-calendar icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">MAU</h4>

          <p class="lead"><%= number_with_delimiter(@mau, :delimiter => ',') %></p>
        </div>
      </div>
      <!-- /KPI #3 -->
    </div>
  </div>
</section>
<!-- /KPI -->

<!-- Graphs -->
<div class="row-fluid">
  <!--
  GRAPHS GO HERE
  For now graph DAU and MAU. Future should be toggleable for different KPIs.
  -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          var dau_data = google.visualization.arrayToDataTable([
            ['Day', 'DAUs']
            <% if !@dau_data.nil? %>
              ,
              <% @dau_data.each_with_index do |d, index| %>
                ['<%= d[0] %>', <%= d[1] %>]
                <% if index != @dau_data.size - 1 %>
                  ,
                <% end %>
              <% end %>
            <% end %>
          ]);

          var mau_data = google.visualization.arrayToDataTable([
              ['Month', 'MAUs']
              <% if !@dau_data.nil? %>
                ,
                <% @mau_data.each_with_index do |m, index| %>
                 ['<%= m[0] %>', <%= m[1] %>]
                  <% if index != @mau_data.size - 1 %>
                    ,
                  <% end %>
                <% end %>
              <% end %>
          ]);

          var dau_options = {
              title: 'Daily Active Users',
              vAxis: {minValue:0}
          };
          var mau_options = {
              title: 'Monthly Active Users',
              vAxis: {minValue:0}
          };

          var dau_chart = new google.visualization.LineChart(document.getElementById('dau_chart_div'));
          dau_chart.draw(dau_data, dau_options);
          var mau_chart = new google.visualization.LineChart(document.getElementById('mau_chart_div'));
          mau_chart.draw(mau_data, mau_options);
      }
  </script>

  <div id="dau_chart_div" style="width: 900px; height: 250px;"></div>
  <div id="mau_chart_div" style="width: 900px; height: 250px;"></div>

</div>
<!-- /Graphs -->

<!-- Session Analytics -->
<div class="row-fluid">
  <h4>Sessions Statistics</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Per Day</th>
      <th>Per Month</th>
      <th>Duration</th>
      <th>Total Playtime</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if @downloads_count == 0 %>
        <td colspan=6>No Downloads Yet</td>
      <% else %>
      <td><%= @application.getAverageSessionsPerDay %></td>
      <td><%= @application.getAverageSessionsPerMonth %></td>
      <td><%= Time.at(@application.getAverageSessionLength).gmtime.strftime('%R:%S') %></td>
      <td><%= Time.at(@application.getTotalUsageTime).gmtime.strftime('%R:%S') %></td>

      <% end %>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Session Analytics -->


