<%= render 'apps_header' %>

<!-- KPI -->
<section>
  <div class="row-fluid">
    <!-- KPI #1 -->
    <div class="well span4">
      <div>
        <i class="icon-download-alt icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">Downloads</h4>

          <p class="lead"><%= number_with_delimiter(@downloads_count, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #1 -->
    <!-- KPI #2 -->
    <div id="dauDiv" class="well span4">
      <div>
        <i class="icon-group icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">DAU</h4>

          <p class="lead"><%= number_with_delimiter(@dau, :delimiter => ',') %></p>
        </div>
      </div>
    </div>
    <!-- /KPI #2 -->
    <!-- KPI #3 -->
    <div id="mauDiv" class="well span4">
      <div>
        <i class="icon-calendar icon-4x pull-left"></i>

        <div>
          <h4 class="media-heading">MAU</h4>

          <p class="lead"><%= number_with_delimiter(@mau, :delimiter => ',') %></p>
        </div>
      </div>
      <!-- /KPI #3 -->
    </div>
  </div>
</section>
<!-- /KPI -->

<!-- Graphs -->
<div class="row-fluid">
  <div class="well well-small">
    <div id="mainChart"></div>
  </div>

</div>
<!-- /Graphs -->

<!-- Session Analytics -->
<div class="row-fluid">
  <h4>Sessions Statistics</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Per Day</th>
      <th>Per Month</th>
      <th>Duration</th>
      <th>Total Playtime</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if @downloads_count == 0 %>
        <td colspan=6>No Downloads Yet</td>
      <% else %>
        <td><%= @application.getAverageSessionsPerDay %></td>
        <td><%= @application.getAverageSessionsPerMonth %></td>
        <td><%= Time.at(@application.getAverageSessionLength).gmtime.strftime('%R:%S') %></td>
        <td><%= Time.at(@application.getTotalUsageTime).gmtime.strftime('%R:%S') %></td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Session Analytics -->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var dau_data = google.visualization.arrayToDataTable([
          ['Day', 'DAU']
          <% if !@dau_data.nil? %>
            ,
            <% @dau_data.each_with_index do |d, index| %>
              ['<%= d[0] %>', <%= d[1] %>]
              <% if index != @dau_data.size - 1 %>
                ,
              <% end %>
            <% end %>
          <% end %>
        ]);

        var mau_data = google.visualization.arrayToDataTable([
            ['Month', 'MAU']
            <% if !@dau_data.nil? %>
              ,
              <% @mau_data.each_with_index do |m, index| %>
               ['<%= m[0] %>', <%= m[1] %>]
                <% if index != @mau_data.size - 1 %>
                  ,
                <% end %>
              <% end %>
            <% end %>
        ]);

        var dau_options = {
            title: 'Daily Active Users',
            vAxis: {
              minValue: 0,
              viewWindow: {min:0}
            },
            legend: {
              position: 'none'
            }
        };
        var mau_options = {
            title: 'Monthly Active Users',
            vAxis: {
              minValue: 0,
              viewWindow: {min:0}
            },
            legend: {
              position: 'none'
            }
        };

        var mainChart = new google.visualization.LineChart(document.getElementById('mainChart'));
        mainChart.draw(dau_data, dau_options);

        // Create toggles for graph
        function graphToggle (elementId, data, options) {
          div = document.getElementById(elementId);

          div.onclick = function () {
            mainChart.draw(data, options);
          };
          div.onmouseover = function() {
            this.style.opacity = .6,
            this.style.color = 'green';
          };
          div.onmouseout = function() {
            this.style.opacity = 1,
            this.style.color = ''
          };
        }

        dauDiv = new graphToggle('dauDiv', dau_data, dau_options);
        mauDiv = new graphToggle('mauDiv', mau_data, mau_options);
    }
</script>
