<%= render 'apps/apps_header' %>

<!--
GRAPH OF ALL ACTIVITY. Should graph new installs and eCPI and total spend. Will need to have 2 y-axis. 1: number of users (installs) 2: USD (eCPI/total spend) if total spend >> eCPI then won't fit on axis... will need to just graph eCPI perhaps?
-->

<div>
  <p>
    <%= link_to new_app_campaign_path, :class => 'btn btn-primary' do %>
      <i class="icon-plus"></i> New Campaign
    <% end %>
  </p>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Installs</th>
      <th>eCPI</th>
      <th>Spend (USD)</th>
      <th>Budgets (Daily / Total)</th>
      <th>Achievements</th>
      <th>APK Uploaded</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @application.campaigns.where(:soft_deleted => false).each do |campaign| %>
        <tr>
          <td><%= link_to campaign.name, app_campaign_path(@application, campaign) %></td>
          <!-- Should show number of achievements and total value -->
          <td><%= CampaignHistory.find_all_by_campaign_id(campaign.id).count() %></td>
          <!-- eCPI: total spend / total installs -->
          <td><% if CampaignHistory.find_all_by_campaign_id(campaign.id).count() > 0 %>
                <%= number_to_currency(campaign.actual_overall_spent / CampaignHistory.find_all_by_campaign_id(campaign.id).count()) %>
            <% else %>
                0
            <% end %></td>
          <!-- Spend: total amount spent -->
          <td><%= number_to_currency(campaign.actual_overall_spent) %></td>
          <!-- Budget spend should be listed as $spent / $total budget -->
          <td><%= number_to_currency(campaign.daily_budget) %> / <%= number_to_currency(campaign.overall_budget) %></td>
          <td><%= campaign.achievements.count %> / <%= number_to_currency(campaign.achievements.sum(&:cost)) %></td>
          <td>
            <% if campaign[:apk].nil? %>
              <span class="label label-warning">No</span>
            <% else %>
              <span class="label label-success">Yes</span>
            <% end %>
          </td>
          <td>
            <% if campaign.active == true %>
              <span class="label label-success">Active</span>
            <% elsif campaign.submitted %>
              <span class="label label-warning">Submitted</span>
            <% elsif campaign.accepted %>
              <span class="label">Inactive</span>
            <% else %>
              <span class="label">Unsubmitted</span>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_app_campaign_path(campaign.app_id, campaign) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
