<fieldset>
    <% if @achievement.errors.any? %>
        <div class="alert-message error" data-alert><a class="close" href="#">×</a><p>Whoops! Check your form for possible errors</p></div>
    <% end %>


    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :description %>
      <div class="input">
        <%= f.text_field :description %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :value %>
      <div class="input">
        <%= f.text_field :value %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :cost %>
      <div class="input">
        <%= f.text_field :cost %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :enabled %>
      <div class="input">
        <%= f.check_box :enabled %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :repeatable %>
      <div class="input">
        <%= f.check_box :repeatable %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :availability %>
      <div class="input">
        <%= f.text_field :availability %>
      </div>
    </div>


    <div class="clearfix"></div>

    <div class="actions">
      <%= f.submit :Submit, :class => "btn primary" %>
    </div>
  </fieldset>
