<fieldset>
  <%= f.error_messages %>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'span8' %>
  <i>This is what users will see.</i>

  <%= f.label :description %>
  <%= f.text_area :description, :rows => '3', :class => 'span8'  %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <i>Value (USD) of achievement upon completion.</i>

<p>
  <%= f.label :enabled, :class => 'checkbox inline' %>
   <%= f.check_box :enabled %> <i>Check this box if the achievement should be currently available</i><br>
  <%= f.label :repeatable, :class => 'checkbox inline' %>
   <%= f.check_box :repeatable%> <i>Check this box if a user can acquire this achievement multiple times</i>
</p>

    <%= f.submit :Submit, :class => "btn btn-primary" %>
    <%= link_to 'Cancel', app_path(@application), :class => 'btn' %>
</fieldset>
