<fieldset>
  <% if @achievement.errors.any? %>
    <div class="alert-message error" data-alert><a class="close" href="#">×</a><p>Whoops! Check your form for possible errors</p></div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, :class => 'span8' %>

  <%= f.label :description %>
  <%= f.text_area :description, :rows => '3', :class => 'span8'  %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <i>Value of achievement upon completion.</i>

<p>
  <%= f.label :enabled, :class => 'checkbox inline' %>
   <%= f.check_box :enabled %>
  <%= f.label :repeatable, :class => 'checkbox inline' %>
   <%= f.check_box :repeatable%>
</p>

  <div class="actions">
    <%= f.submit :Submit, :class => "btn btn-primary" %>
    <%= link_to 'Cancel', app_path(@application), :class => 'btn' %>

  </div>
</fieldset>
