<header class="page-header">
  <h1>
    <%= @application.name %>/<%= @campaign.name %> Achievements
    <small class="pull-right">
      <%= link_to 'New', new_app_campaign_achievement_path(@application, @campaign), :class => "btn btn-info" %>
    </small>
  </h1>
</header>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Token value</th>
    <th>Cost</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% @campaign.achievements.where(:soft_deleted => false).each do |achievement| %>
        <tr>
          <td><%= achievement.name%></td>
          <td><%= achievement.description%></td>
          <td><%= achievement.value%></td>
          <td><%= achievement.cost%></td>
          <td><%= link_to 'Edit', edit_app_campaign_achievement_path(@campaign.app_id, achievement.campaign_id, achievement) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">

</div>

<%= link_to 'Back to Application', app_campaign_path(@application, @campaign), :class => 'btn' %>
