<% role = Role.find_by_name("Prospective Developer") %>

<header class="page-header">
  <h1>
    <i class="icon-group"></i> Users
    <small class="pull-right">
      <%= link_to "New", new_admin_user_path, :class => 'btn btn-info' %>
    </small>
  </h1>
</header>

<h4>Pending Developers</h4>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th><b>Username</b></th>
      <th><b>Email</b></th>
      <th><b>Created at</b></th>
      <th><b>Actions</b></th>
    </tr>
  </thead>
  <tbody>
<% @pending_developers.each do |pending_developer| %>
    <tr>
      <td><%= pending_developer.id %></td>
      <td><%= link_to pending_developer.username, admin_user_path(pending_developer) %></td>
      <td><%= pending_developer.email %></td>
      <td><%= pending_developer.created_at %></td>
      <td>
        APPROVE DENY
        <%= link_to "Destroy", admin_user_path(pending_developer), :method => :delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4>All Users</h4>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th><b>Username</b></th>
      <th><b>Email</b></th>
      <th><b>Balance</b></th>
      <th><b>Created at</b></th>
      <th><b>Prospective Developer</b></th>
      <th><b>Actions</b></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.username, admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.account.balance %></td>
      <td><%= user.created_at %></td>
      <td><%= user.roles.include?(role) %></td>
      <td>
        <%= link_to "Show", admin_user_path(user) %>
        <%= link_to "Edit", edit_admin_user_path(user) %>
        <%= link_to "Destroy", admin_user_path(user), :method => :delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


