<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dynamic title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "custom" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= javascript_include_tag "application" %>
  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>

</head>
<body>
  <!-- navbar -->
  <%= render 'layouts/navbar' %>
  <!-- /navbar -->
  <div class="container">
    <div class="row">
      <!-- Content -->
      <div>
        <%= render 'shared/errors' %>
        <%= yield %>
      </div>
      <!-- /Content -->
    </div>
  </div>
</body>
</html>
