<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @page_title or 'TokenFire' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "custom" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= javascript_include_tag "application" %>

  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">

  <!-- google analytics -->
  <%= render 'layouts/ga' if Rails.env.production? %>
</head>
<body>
  <div class="wrapper">

    <!-- navbar -->
    <%= render 'layouts/navbar' %>
    <!-- /navbar -->

    <div id="main" class="container">
    <!-- Content -->
      <%= render 'shared/errors' %>
      <%= yield %>
    <!-- /Content -->
    </div>
    <div class="push"></div>
  </div>
  <!-- footer -->
  <%= render 'layouts/footer' %>
  <!-- /footer -->

</body>
</html>
