<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @page_title or 'TokenFire' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "custom" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" if Rails.env.development? %>


  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <!-- google analytics -->

  <%= render 'layouts/ga' if Rails.env.production? %>
</head>
<body>
  <div class="wrapper">

    <!-- navbar -->
    <%= render 'layouts/navbar' %>
    <!-- /navbar -->

    <div id="main" class="container">
    <!-- Content -->
      <%= render 'shared/errors' %>
      <div class="row">
        <div class="span2 well well-small" data-spy="affix">
          <ul class="nav nav-list">
            <li>
              <%= link_to support_path do %>
                <i class="icon-home"> Home</i>
              <% end %>
            </li>
            <li class="nav-header">Guides</li>
            <li>
              <%= link_to android_path do %>
                <i class="icon-android"> Android</i>
              <% end %>
            </li>
            <li class="nav-header">Downloads</li>
            <li class="nav-header">Glossary</li>
            <li class="nav-header">FAQ</li>
          </ul>
        </div>
        <div class="span10 offset2 well">
          <%= yield %>
        </div>
      </div>
    <!-- /Content -->
    </div>
    <div class="push"></div>
  </div>
  <!-- footer -->
  <%= render 'layouts/footer' %>
  <!-- /footer -->

</body>
</html>
